<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Inventory</title>
        <meta name="description" content>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <div class="head">
            <div class="menu">
                <div class="menuPush">
                    <a href="/home"><div class="button">Home</div></a>
                    <a href="/inventory"><div class="button">Inventory</div></a>
                    <a href="/subscribers"><div class="button">Subscribers</div></a>
                    <a href="/events"><div class="button">Events</div></a>
                </div>
                <div class="logo"><img
                        src="https://static.wixstatic.com/media/c7bef5_c8e7ec45f2be449f86bc8d9aebe930bc~mv2.png/v1/fit/w_2500,h_1330,al_c/c7bef5_c8e7ec45f2be449f86bc8d9aebe930bc~mv2.png"
                        width="350px" height="200px" /></div>
            </div><div class="headerImage"></div>
        </div>

        <h1>Inventory</h1>
        <div class="outerContainer">
<ul>
  <% inventory.forEach(function(item) { %>
    <li>
      <%= item.issueName %><br>
      <%= item.pubDate.toLocaleDateString() %><br>
      <%= item.inventoryNum %><br>
    </li>
  <% }); %>
</ul>
        
        <script src async defer></script>
    </body>
</html>